<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label t("name") %>
    <%= form.text_field :first_name, id: :user_first_name, class: 'nepali-font form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label t('age') %>
    <%= form.text_field :age, id: :user_age, class: 'nepali-font form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label t('address') %>
    <%= form.text_area :address, id: :user_address, class: 'nepali-font form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit t('save'), class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
