<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="heading"><%= t('user_information') %></h1>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <td><%= t('name') %></td>
        <td class="nepali-font"><%= @user.first_name %></td>
      </tr>

      <tr>
        <td><%= t('age') %></td>
        <td class="nepali-font"><%= @user.age %></td>
      </tr>

      <tr>
        <td><%= t('address') %></td>
        <td class="nepali-font"><%= @user.address %></td>
      </tr>
    </table>
  </div>
</div>

<div class="screen">
  <a onclick="window.print();" class="btn btn-lg btn-primary"><%= t('print') %></a>
</div>
